@media screen and (min-width:992px) {
    form{
        width: 900px;
    }

    form#login{
        width: 400px;
    }

    form#funcionario{
        width: 400px;
    }

    div#imagebk{
        float: left;
        background: url(../imagens/form/tablet-background.png) no-repeat;
        background-size: cover;
        height: 470px;
        width: 50%;
    }

    div#cadastro{
        position: relative;
        float: right;
        width: 50%;
    }
    
    
    div#imagebk-pet{
        float: left;
        background: url(../imagens/form/tablet-background-servico.png) no-repeat bottom center;
        background-size: cover;
        height: 500px;
        width: 50%;
    }

    div#cadastro-pet{
        position: relative;
        left: -20px;
        top: 10px;
        margin: 20px 0px;
        float: right;
        width: 50%;
    }

    .camposenha{
        margin-top: 90px;
    }
}

@media screen and (min-width:1281px) {
    form{
        width: 1000px;
    }

    form#login{
        width: 400px;
    }

    form#funcionario{
        width: 400px;
    }


    div#imagebk{
        float: left;
        background: url(../imagens/form/desktop-background.png) no-repeat center center;
        background-size: cover;
        margin-bottom: -5px;
        height: 500px;
        width: 60%;
    }

    div#cadastro{
        position: relative;
        left: 5px;
        float: right;
        width: 40%;
    }
    
    div#imagebk-pet{
        float: left;
        background: url(../imagens/form/desktop-background-servico.png) no-repeat bottom center;
        background-size: cover;
        height: 565px;
        width: 60%;
    }

    div#cadastro-pet{
        position: relative;
        left: 5px;
        margin: 20px 0px;
        float: right;
        width: 40%;
    }

    .camposenha{
        margin-top: 80px;
    }
}