@media screen and (min-width:992px) {
    form{
        width: 900px;
    }

    div#imagebk{
        float: left;
        background: url(../imagens/form/tablet-background.png) no-repeat;
        background-size: contain;
        height: 600px;
        width: 50%;
    }

    div#imagebk-servico{
        float: left;
        background: url(../imagens/form/tablet-background-servico.png) no-repeat;
        background-size: contain;
        height: 600px;
        width: 50%;
    }

    div#cadastro{
        position: relative;
        left: -20px;
        float: right;
        width: 50%;
    }

    .camposenha{
        margin-top: 90px;
    }
}

@media screen and (min-width:1281px) {
    form{
        width: 1200px;
    }

    div#imagebk{
        float: left;
        background: url(../imagens/form/desktop-background.png) no-repeat center center;
        background-size: cover;
        margin-bottom: -5px;
        height: 600px;
        width: 60%;
    }

    
    div#imagebk-servico{
        float: left;
        background: url(../imagens/form/desktop-background-servico.png) no-repeat;
        background-size: contain;
        height: 600px;
        width: 50%;
    }

    div#cadastro{
        position: relative;
        left: 5px;
        float: right;
        width: 40%;
    }

    .camposenha{
        margin-top: 80px;
    }
}