@charset "UTF-8";

body::-webkit-scrollbar{
    display: none;
}

:root{
    --cor-principal:  #00A6C7;
    --cor-secundaria: #FFC98A;
    --cor-prin-hover: #008ca8;
    --cor-sec-hover:#fab363;
    --cor-fonts: white;
}