*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

div.box{
    display: inline-flex;
    width: 200px;
    height: 200px;
    background-color: var(--cor-principal);
    border: 2px solid var(--cor-secundaria);
}