body{
    background: url(../imagens/login/Imagem-bk-login.jpg) no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

form{
    position: relative;
    left: 170px;
    top: 225px;
    margin: 0px;
}

.campo{
    margin: 15px auto;
}

.campo > input{
    width: 300px;
}

div#esqueci-senha a{
    position: relative;
    display: block;
    text-align: right;
    bottom: -12px;
    margin: 0px 20px 5px 0px;
    font-size: 0.8em;
    color: var(--cor-secundaria);
}