@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    height: 100vh;
    padding-left: 64px;
}

nav.menu-lateral{
    width: 60px;
    height: 100%;
    background-color: var(--cor-principal);
    padding: 40px 0px 40px 5px;
    box-shadow: 3px 0px 0px var(--cor-secundaria);
    
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    overflow-y: auto;
    transition: 0.5s;
}

nav.menu-lateral::-webkit-scrollbar{
    display: none;
}

nav.menu-lateral.expandir{
    width: 300px;
}


.btn-expandir{
    width: 100%;
    margin: -30px 0px 40px 5px;
}

.btn-expandir > span{
    color: white;
    font-size: 2em;
    cursor: pointer;
}

nav.menu-lateral > ul{
    height: 100%;
    list-style-type: none;
}

ul li.item-menu{
    transition: 0.5s;
    margin-left: -5px;
}

ul li.item-menu-second{
    transition: 0.5s;
}

nav.menu-lateral.expandir .item-menu-second{
    margin-left: 48px;
}

ul li.ativo{
    background-color: var(--cor-secundaria);
}

div.item-hide1, div.item-hide2, div.item-hide3{
    display: none;
    margin: -35px 0px 40px;
}

ul li.item-menu:hover{
    background-color: var(--cor-secundaria);
}

ul li.item-menu-second:hover{
    background-color: var(--cor-secundaria);
}

ul li.item-menu a{
    color: white;
    text-decoration: none;
    padding: 10px 5px;
    display: flex;
    margin-bottom: 40px;
    line-height: 40px;
}

ul li.item-menu-second a{
    color: white;
    text-decoration: none;
    padding: 10px 5px;
    display: flex;
    margin-bottom: 10px;
    line-height: 30px;
}

ul li.item-menu .txt-link{
    margin-left: 80px;
    font-size: 1.2em;
    transition: 1s;
    opacity: 0;
}

ul li.item-menu-second .txt-link{
    margin-left: 80px;
    font-size: 1em;
    transition: 1s;
    opacity: 0;
}

nav.menu-lateral.expandir .txt-link{
    margin-left: 40px;
    opacity: 1;
}

ul li.item-menu .icon{
    font-size: 2em;
    margin: 5px;
}

ul li.item-menu-second .icon{
    font-size: 1.5em;
    margin: 5px;
}
