@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

/*Tabela*/
table{
    position: relative;
    border-collapse: collapse;
    margin: 50px auto;
    transition: 1s;
}

caption{
    padding: 15px;
    font-size: 1.5em;
    border-radius: 10px 10px 0px 0px;
    border: 1px solid black;
    border-bottom: 0px;
    color: white;
    background-color:rgb(123, 123, 216);
}

tr{
    border: 1px solid black;
}

td, th{
    font-size: 1.2em;
    padding: 5px;
    text-align: center;
}

th{
    position: sticky;
    background-color:var(--cor-principal);
    top: -1px;
    color: white;
}

tr:nth-child(odd){
    background-color:var(--cor-principal);
}

tr:nth-child(odd):hover{
    background-color: var(--cor-terciaria);
}

tr:nth-child(even):hover{
    background-color: rgb(207, 207, 207);
}
/*Tabela*/

/*Editar e Excluir*/
span.editar, span.excluir{
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
    padding: 4px;
    transition: 0.4s;
}

span.editar:hover, span.excluir:hover{
    padding: 5px;
}
/*Editar e Excluir*/




