@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

::-webkit-scrollbar{
    display: none;
}

body{
    background-color:rgb(207, 207, 255);
}

/*Top*/

header{
    padding: 10px;
}

header > h1{
    text-align: center;
}

/*Top*/

/*Menu*/
nav.menu-hide{
    position: absolute;
    width: 150px;
    transform: translate(0px);
}

nav.menu-show{
    transform: translate(0px);
}

#hamburger-menu{
    color: white;
    padding: 10px;
    cursor: pointer;
    transition: 1s;
}

.menuclick{
    background-color: var(--cor-principal);
    width: 150px;
}

div#itens{
    position: absolute;
    background-color: var(--cor-principal);
    display: block;
}

div#itens a{
    text-decoration: none;
    color: white;
}

div#itens li{
    border-bottom: 1px solid black;
    padding: 10px;
    width: 150px;
    text-align: center;
}

div#itens li > span{
    display: block;
    font-size: 2em;
    color: white;
}

div#itens li:hover{
    background-color: rgb(166, 166, 236);
}

.select{
    background-color: rgb(42, 42, 144);
}
/*Menu*/

/*Tabela*/
table{
    position: relative;
    border-collapse: collapse;
    margin: 50px auto;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.568);
}

caption{
    padding: 5px;
    font-size: 1.5em;
    border-radius: 10px 10px 0px 0px;
    border: 1px solid black;
    border-bottom: 0px;
    color: white;
    background-color:rgb(123, 123, 216);
}

td, th{
    border: 1px solid black;    
    padding: 5px;
    text-align: center;
}

th{
    position: sticky;
    background-color:var(--cor-principal);
    top: -1px;
    color: white;
}

tr:nth-child(odd){
    background-color:var(--cor-principal);
}
/*Tabela*/




